---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Valorant Agent Hub">
	<section class="w-full flex flex-wrap justify-center gap-4 sm:gap-8 pb-10">
		<Card />
	</section>
</Layout>
