---
import { Image } from "astro:assets";
import valorantLogo from "../../public/valorant-logo.svg";
---

<header class="w-full">
  <div>
    <h1 class="hidden">VALORANT</h1>
    <Image src={valorantLogo} alt="Logo de Valorant" class="h-10 my-10 mx-auto" />
  </div>
  <nav class="mb-10">
    <ul class="flex justify-center items-center gap-6 text-white [&>li>a]:font-semibold ">
      <li><a href="/">Todos</a></li>
      <li><a href="">Controladores</a></li>
      <li><a href="">Duelistas</a></li>
      <li><a href="">Iniciadores</a></li>
      <li><a href="">Centinelas</a></li>
    </ul>
  </nav>
</header>

<style>
  a {
    font-family: 'Inter Variable', sans-serif;
  }
</style>
