---
import '@fontsource-variable/inter';
import { Image } from "astro:assets";
import valorantLogo from "../../public/valorant-logo.svg";
---



<header class="">
  <div class="w-full sm:flex sm:flex-col justify-between items-center px-4 mb-4 sm:mb-10">
    <div class="flex justify-between">
      <a href="/"><Image src={valorantLogo} alt="Logo de Valorant" class="h-5 w-auto sm:h-10 my-4 sm:my-10" /></a>

      <button id="menu" aria-label="menu" class="sm:hidden">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    

    <nav id="navbar" class="hidden w-full md:block md:w-auto max-sm:mb-4">
      <ul class="max-sm:bg-neutral-950/50 max-sm:rounded-xl flex max-sm:flex-col justify-center sm:items-center text-white [&>li>a]:font-semibold max-sm:p-4">
        <li><a href="/" class="max-sm:block py-2 px-3">Todos</a></li>
        <li><a href="#" class="max-sm:block py-2 px-3">Controladores</a></li>
        <li><a href="/agent/duelistas" class="max-sm:block py-2 px-3">Duelistas</a></li>
        <li><a href="/agent/iniciadores" class="max-sm:block py-2 px-3">Iniciadores</a></li>
        <li><a href="#" class="max-sm:block py-2 px-3">Centinelas</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  a {
    font-family: 'Inter Variable', sans-serif;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const $menu = document.getElementById("menu");
    const $navbar = document.getElementById("navbar")

    $menu.addEventListener("click", () => {
      $navbar.classList.toggle("hidden")
    })

  })
</script>
