<footer class="bg-[#111111] w-full flex justify-center items-center p-4 text-white">
  <p>Hecho con ❤️ por <a href="https://github.com/7R0N1X" target="_blank" rel="noopener noreferrer" class="text-[#9067E7] font-bold">7R0N1X</a> utilizando <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="text-[#E43A99] font-bold">Astro</a>.</p>
</footer>