---
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Descubre a fondo a los agentes de Valorant con nuestra completa guía. Explora habilidades, estrategias y perfiles detallados de cada agente en este compendio especializado. ¡Todo lo que necesitas para dominar Valorant en un solo lugar!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-screen-2xl mx-auto">
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>
